body
{
	
		background: #f0f0f0;
 
		font-weight: bold;
}

h1
{
	color:orange;
}

h2,h3,h4,h4,h6
{
	color: #444;
}

footer
{
	background: #222;
	padding: 20px;
}


.container

{
	
	background: #BDBDBD;
	
}
.page
{
	background: #fff;
	border-radius: 1em;
	margin: 1em;
	min-height: 500px;
	padding: 1em;
	
}

.icon-home
{
	color: #666;
	font-size: 60px;
	margin: 20px;
	
}

.btn-home-admin
{
	font-size: 25px;
}