body
{
	
		background: orange;
		font-family: 'Poiret One', cursive; font-weight: bold;
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Lobster Two', cursive; 
}

/*  NAV */

.main-title
{
	color: orange !important;
	font-size: 26px;
}

/* footer */

footer
{
	background: #222;
	text-align: center;
	color: #BDBDBD;
	font-family: "Times New Roman";
	
}
footer,h3
{
	color: #A26502;

}

footer p
{
	text-align: justify;
}


ul.redes li{
	
		display: inline-block;
}

ul.redes li a
{
	
	color: orange;
}

.avatar
{
	border: 5px solid orange;
	border-radius: 50%;
	float: left;
	height: 100px;
	width: 100px;
	
}

/* catalogo*/

#products {
position: relative;
max-width: 100%;
/* width: 100%; */
}
img {
width: 100%;
max-width: 100%;
height: auto;
}
.white-panel {
position: absolute;
background: white;
box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
padding: 10px;
}
.white-panel h1 {
font-size: 1em;
}
.white-panel h1 a {
color: #A92733;
}
.white-panel:hover {
box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
margin-top: -5px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

/* detalle del producto */

.product-block
{
	background: #fff;
	border-radius: 1em;
	padding: 1em;
	
}

/*slider*/

.navbar
{
	margin-bottom: 0px;
}
/* carrito */
.table-cart
{
	
	background: #fff;
	border-radius: 1em;
	margin-bottom: 30px;
	padding: 1em;
	
}

.table-cart img
{
	width: 50px;
}

.page
{
	background: #fff;
	border-radius: 1em;
	margin-bottom: 30px;
	padding: 1em;
	
	
	
}


/* menu acordio */

.nav-pills {
    padding-top: 20px;
	background-color: #222;
	
}

.nav-pills > li > a {
    font-size: 15px;
    color: white;
    border-radius: 5px 5px 0 0;
    padding: 10px;

}

.nav-pills > li > a:hover {
    background-color: #418bca;
    color: #fff;
}

.nav-pills > li > a:focus{
    background-color: #418bca;
    color: #fff;
}

